@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
}

:root {
  --check-mark-color: $color-accent; /* Цвет галочки в формах */
}

.none {
  display: none !important;
}

.header {
  background-image: url(/img/head-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 840px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* Burger menu */
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 6;
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #fff;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #fff;
          box-shadow: 0 11px 0 #fff;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: #242B33;
  list-style-type: none;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100%;
  z-index: 5;
}

.menu-item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.burger-checkbox:checked ~ .menu-list {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* ----------------------- */
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: #fff; /* Цвет подчеркивания при исчезании линии*/
  -webkit-transition: width 0.5s;
  transition: width 0.5s; /* Время эффекта */
}

.nav-link:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px; /* Высота линии */
  background-color: #D4C17F; /* Цвет подчеркивания при появлении линии*/
  -webkit-transition: width 0.5s;
  transition: width 0.5s; /* Время эффекта */
}

.header-title {
  position: relative;
  padding-top: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 582px;
  height: 680px;
}

.title {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-size: 48px;
  font-weight: 700;
}

.title-img {
  bottom: 31%;
  position: absolute;
  width: 40px;
  height: 40px;
}

.title-location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 98px;
}

.title_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  font-size: 18px;
}

.main {
  background-color: #242B33;
}

.territoria {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  padding: 120px 30px;
}
.territoria::after {
  content: "II";
  position: absolute;
  top: 0;
  line-height: 1.15;
  left: calc(50% + 400px);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.item-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
}

.apartments {
  position: relative;
  padding: 0 30px;
}
.apartments::before {
  content: "III";
  position: absolute;
  top: 0;
  line-height: 1;
  right: calc(50% + 330px);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

.apartments-title {
  padding-bottom: 88px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-size: 36px;
  font-weight: 700;
}

.apartments-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.portfolio-img {
  overflow: hidden;
  position: relative;
}

.img_port {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.img_port:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-title {
  position: absolute;
  left: 10%;
  bottom: 12%;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-title:hover {
  cursor: pointer;
  color: #D4C17F;
}

.section-form_bg {
  background-image: url(/img/bg-building.jpg);
}

.section-form {
  padding: 180px 0;
}

.form-title {
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 17px;
}

.form-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.form-input {
  text-align: center;
  padding: 12px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
}
.form-input::-webkit-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form-input::-moz-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form-input:-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form-input::-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 14px;
}
.form-input::placeholder {
  color: #BEBEBE;
  font-size: 14px;
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E7E7E7;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.form-btn {
  padding: 12px 53px;
  background-color: #D4C17F;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.form-btn:hover {
  background-color: #d0ab25;
}

.section-video {
  position: relative;
  margin-bottom: 180px;
}
.section-video::after {
  content: "IV";
  position: absolute;
  top: 0;
  line-height: 1.5;
  left: calc(50% + 315px);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

.video {
  padding: 0 30px;
  position: relative;
  margin: auto;
  text-align: center;
  max-width: 720px;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.video-btn:hover {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-filter: saturate(2);
          filter: saturate(2);
}

.area {
  position: relative;
}
.area::before {
  content: "V";
  position: absolute;
  top: 0;
  line-height: 1.01;
  right: calc(50% + 430px);
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

.map-location {
  height: 358px;
}

.map-title {
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 17px;
  margin-bottom: 88px;
}

.map-location {
  margin-bottom: 180px;
}

.question {
  margin-bottom: 180px;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
}

.question-title {
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-size: 36px;
  font-weight: 700;
}

.question-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer {
  background-color: #2D343C;
}

.footer-aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 51px;
}

.footer-links, .footer-services, .footer-contacts, .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer-link, .contacts-item {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-link:hover {
  color: #D4C17F;
}

.contacts_email {
  color: #D4C17F;
  font-weight: 700;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  padding-top: 5px;
}

.footer_img {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer_img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

[class*=copyrights-pane] {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.map-location:hover [class*=copyrights-pane] {
  opacity: 1;
}

[class*=ground-pane] {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: saturate(20%);
          filter: saturate(20%);
}

.map-location:hover [class*=ground-pane] {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

@media (max-width: 950px) {
  .header {
    height: auto;
  }
  .nav-list_links {
    display: none;
  }
  .burger {
    display: block;
  }
  .header-title {
    padding-top: 50px;
    height: 450px;
  }
  .title-img {
    bottom: 40%;
  }
  .title-location {
    padding-bottom: 50px;
  }
}
@media (max-width: 690px) {
  .title {
    font-size: 30px;
  }
  .header-title {
    width: auto;
    height: 360px;
  }
  .title-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media (max-width: 390px) {
  .title {
    font-size: 23px;
  }
}
@media (max-width: 1420px) {
  .territoria::after {
    display: none;
  }
}
@media (max-width: 950px) {
  .territoria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px 30px;
  }
}
@media (max-width: 550px) {
  .territoria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1420px) {
  .apartments::before {
    display: none;
  }
}
@media (max-width: 860px) {
  .portfolio-title {
    font-size: 20px;
  }
}
@media (max-width: 690px) {
  .portfolio-title {
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .apartments-portfolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
@media (max-width: 490px) {
  .apartments-title {
    padding-bottom: 50px;
    font-size: 25px;
  }
}
@media (max-width: 1150px) {
  .section-form {
    padding: 180px 30px;
  }
  .form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    max-width: 550px;
    margin: auto;
  }
}
@media (max-width: 950px) {
  .section-form {
    padding: 80px 30px;
  }
}
@media (max-width: 690px) {
  .form-title {
    font-size: 30px;
  }
}
@media (max-width: 610px) {
  .form-info {
    max-width: 300px;
    grid-template-columns: 1fr;
  }
  .form {
    max-width: 300px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 490px) {
  .section-form {
    padding: 40px 30px;
  }
  .form-title {
    font-size: 25px;
  }
}
@media (max-width: 1420px) {
  .section-video::after {
    display: none;
  }
}
@media (max-width: 950px) {
  .section-video {
    margin-bottom: 80px;
  }
}
@media (max-width: 650px) {
  .video-btn {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 490px) {
  .section-video {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .map {
    padding: 0 30px;
  }
}
@media (max-width: 950px) {
  .map-title {
    margin-bottom: 44px;
  }
  .map-location {
    margin-bottom: 80px;
  }
}
@media (max-width: 690px) {
  .map-title {
    font-size: 30px;
  }
  .map-location {
    margin-bottom: 40px;
  }
}
@media (max-width: 490px) {
  .map-title {
    font-size: 25px;
  }
  .map {
    padding: 0 15px;
  }
  .map-location {
    height: 300px;
  }
}
@media (max-width: 1160px) {
  .question-block {
    padding: 0 30px;
  }
  .question-form {
    margin: auto;
    max-width: 500px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 950px) {
  .question {
    margin-bottom: 80px;
  }
}
@media (max-width: 690px) {
  .question-title {
    font-size: 30px;
  }
}
@media (max-width: 490px) {
  .question {
    margin-bottom: 40px;
  }
  .question-title {
    font-size: 25px;
  }
}
@media (max-width: 1160px) {
  .footer-aboutUs {
    padding: 30px;
  }
}
@media (max-width: 950px) {
  .footer-aboutUs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 50px;
  }
}