@media(max-width:1160px) {
    .question-block {
        padding: 0 30px;
    }
    .question-form {
        margin: auto;
        max-width: 500px;
        grid-template-columns: 1fr;
    }
}

@media(max-width:950px) {
    .question {
        margin-bottom: 80px;
    }
}

@media(max-width:690px) {
    .question-title {
        font-size: 30px;
    }
}

@media(max-width:490px) {
    .question {
        margin-bottom: 40px;
    }
    .question-title {
        font-size: 25px;
    }
}