@media(max-width:1420px) {
    .apartments::before {
        display: none;
    }
}

@media(max-width:860px) {
    .portfolio-title {
        font-size: 20px;
    }
}

@media(max-width:690px){
    .portfolio-title {
        font-size: 17px;
    }
}

@media(max-width:550px) {
    .apartments-portfolio {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

@media(max-width:490px) {
    .apartments-title {
        padding-bottom: 50px;
        font-size: 25px;
    }
}