@media(max-width:1150px) {
    .section-form {
        padding: 180px 30px;
    }

    .form-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 550px;
        margin: auto;
    }
}

@media(max-width:950px) {
    .section-form {
        padding: 80px 30px;
    }
}

@media(max-width:690px){
    .form-title {
        font-size: 30px;
    }
}

@media(max-width:610px) {
    .form-info {
        max-width: 300px;
        grid-template-columns: 1fr;
    }

    .form {
        max-width: 300px;
        grid-template-columns: 1fr;
    }
}

@media(max-width:490px) {
    .section-form {
        padding: 40px 30px;
    }
    .form-title {
        font-size: 25px;
    }
}