@media(max-width:1200px){
    .map {
        padding: 0 30px;
    }
}

@media(max-width:950px) {
    .map-title {
        margin-bottom: 44px;
    }
    .map-location {
        margin-bottom: 80px;
    }
} 

@media(max-width:690px) {
    .map-title {
        font-size: 30px;
    }
    .map-location {
        margin-bottom: 40px;
    }
}

@media(max-width:490px) {
    .map-title {
        font-size: 25px;
    }

    .map {
        padding: 0 15px;
    }

    .map-location {
        height: 300px;
    }
}