@media(max-width:950px){
    .header {
        height: auto;
    }

    .nav-list_links {
        display: none;
    }

    .burger {
        display: block;
    }

    .header-title {
        padding-top: 50px;
        height: 450px;
    }

    .title-img {
        bottom: 40%;
    }

    .title-location {
        padding-bottom: 50px;
    }
}

@media(max-width:690px){

    .title {
        font-size: 30px;
    }

    .header-title {
        width: auto;
        height: 360px;
    }

    .title-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media(max-width:390px){

    .title {
        font-size: 23px;
    }
}