@media(max-width:1420px) {
    .territoria::after {
        display: none;
    }
}

@media(max-width:950px){
    .territoria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 50px 30px;
    }
}

@media(max-width:550px) {
    .territoria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}