@media(max-width:1420px) {
    .section-video::after {
        display: none;
    }
}

@media(max-width:950px) {
    .section-video {
        margin-bottom: 80px;
    }
}

@media(max-width:650px) {
    .video-btn {
        width: 60px;
        height: 60px;
    }
}

@media(max-width:490px) {
    .section-video {
        margin-bottom: 40px;
    }
}



