@media(max-width:1160px) {
    .footer-aboutUs {
        padding: 30px;
    }
}

@media(max-width:950px) {
    .footer-aboutUs {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
    }
}