.apartments{
    position: relative;
    padding: 0 30px;

    &::before {
        content: "III";
        position: absolute;
        top: 0;
        line-height: 1;
        right: calc(50% + 330px);
        color: $color-text;
        font-family: $accent-font;
        font-size: 400px;
        font-weight: 700;
        opacity: 0.02;
    }
}

.apartments-title {
    padding-bottom: 88px;
    font-family: $accent-font;
    color: $color-accent;
    font-size: 36px;
    font-weight: 700;
}

.apartments-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.portfolio-img {
    overflow: hidden;
    position: relative;
}

.img_port {
    transition: 1s;
    cursor: pointer;
}

.img_port:hover {
    transform: scale(1.2);
}

.portfolio-title {
    position: absolute;
    left: 10%;
    bottom: 12%;
    font-size: 24px;
    font-weight: 400;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        color: $color-accent;
    }
}