.footer {
    background-color: $footer-bg;
}

.footer-aboutUs {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 51px;
}

.footer-links,.footer-services,.footer-contacts,.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link,.contacts-item {
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

.footer-link:hover {
    color: $color-accent;
}

.contacts_email {
    color: $color-accent;
    font-weight: 700;
}

.footer-socials {
    display: flex;
    gap: 22px;
    padding-top: 5px;
}

.footer_img {
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        transform: scale(1.2);
    }
}