.section-form_bg {
    background-image: url(/img/bg-building.jpg);
}

.section-form {
    padding: 180px 0;
}

.form-title {
    font-family: $accent-font;
    color: $color-accent;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
}

.form-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.form-input {
    text-align: center;
    padding: 12px;
    height: 50px;
    background: rgba(255,255,255, 0.2);
    color: $color-text;
    font-size: 14px;

    &::placeholder{
        color: $color-placeholder;
        font-size: 14px;
    }
}

.form-text {
    display: flex;
    align-items: center;
    color: #E7E7E7;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.form-btn {
    padding: 12px 53px;
    background-color: $color-accent;
    color: $color-text;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.5s;

    &:hover {
        background-color: #d0ab25;
    }
}

