.header{
    background-image: url(/img/head-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 840px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* Burger menu */

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 6;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: $color-text;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 $color-text;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: $color-bg;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .6s;
    width: 100%;
    z-index: 5;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

  /* ----------------------- */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-logo {
    display: flex;
    flex-direction: column;
}

.nav-list_links {
    display: flex;
    gap: 40px;
}

.nav-link {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.nav-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: $color-text; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.nav-link:hover::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px; /* Высота линии */
    background-color: $color-accent; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.header-title {
    position: relative;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 582px;
    height: 680px;
}

.title {
    text-align: center;
    font-family: $accent-font;
    color: $color-accent;
    font-size: 48px;
    font-weight: 700;
}

.title-img {
    bottom: 31%;
    position: absolute;
    width: 40px;
    height: 40px;
}

.title-location {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 98px;
}

.title_link {
    display: flex;
    gap: 14px;
    font-size: 18px;
}