.area {
    position: relative;

    &::before {
        content: "V";
        position: absolute;
        top: 0;
        line-height: 1.01;
        right: calc(50% + 430px);
        color: $color-text;
        font-family: $accent-font;
        font-size: 400px;
        font-weight: 700;
        opacity: 0.02;
    }
}

.map-location {
    height: 358px;
    // background: #626262;
}

.map-title {
    font-family: $accent-font;
    color: $color-accent;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
    margin-bottom: 88px;
}

.map-location {
    margin-bottom: 180px;
}