.question {
    margin-bottom: 180px;
}

.question-block {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.question-title {
    font-family: $accent-font;
    color: $color-accent;
    font-size: 36px;
    font-weight: 700;
}

.question-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}