.main {
    background-color: $color-bg;
}

.territoria {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    padding: 120px 30px;

    &::after {
        content: "II";
    position: absolute;
    top: 0;
    line-height: 1.15;
    left: calc(50% + 400px);
    color: $color-text;
    font-family: $accent-font;
    font-size: 400px;
    font-weight: 700;
    opacity: 0.02;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px;
}

.item-title {
    font-family: $title-font;
    text-align: center;    
    font-size: 20px;
    font-weight: 300;
    line-height: 27px; 
}