.section-video {
    position: relative;
    margin-bottom: 180px;

    &::after {
        content: "IV";
        position: absolute;
        top: 0;
        line-height: 1.5;
        left: calc(50% + 315px);
        color: $color-text;
        font-family: $accent-font;
        font-size: 400px;
        font-weight: 700;
        opacity: 0.02;
    }
}

.video {
    padding: 0 30px;
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 720px;
}

.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: translate(-50%, -50%) scale(1.1);
        filter: saturate(2);
    }
}

