[class*="copyrights-pane"] {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.map-location:hover [class*="copyrights-pane"] {
    opacity: 1;
}

[class*="ground-pane"] {
    transition: 0.3s;
    filter:saturate(20%);
}

.map-location:hover [class*="ground-pane"] {
    filter:saturate(100%);
}