@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');


body {
    font-family: $main-font;
    background-color: $color-bg;
    color: $color-text;
}

:root {
    --check-mark-color: $color-accent; /* Цвет галочки в формах */
}

.none {
    display: none !important;
}

