// Fonts

$main-font: 'Raleway', sans-serif;
$accent-font: 'Playfair Display', serif;
$title-font: 'Roboto', sans-serif;

// Colors

$color-bg: #242B33;
$color-text: #fff;
$color-accent: #D4C17F;
$color-placeholder: #BEBEBE;
$footer-bg: #2D343C;